.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 3px 1px;
    border-radius: 50%;
    transition: transform .2s;
  }
  
  .fa-facebook {
    background: #2d2d2f;
    color: #f1f1f1;
  }
  
  .fa-facebook:hover{
    background: #3B5998;
    color: white;
    transform: scale(1.1);
  }
  
  .fa-twitter {
    background: #2d2d2f;
    color: #f1f1f1;
  }
  
  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
    transform: scale(1.1);
  }
  
  .fa-google {
    background: #2d2d2f;
    color: #f1f1f1;
  }
  
  .fa-google:hover {
    background: #dc4c3f;
    color: white;
    transform: scale(1.1);
  }
  
  .fa-instagram {
    background: #2d2d2f;
    color: #f1f1f1;
  }
  
  .fa-instagram:hover {
    background: #cc2988;
    color: white;
    transform: scale(1.1);
  }

  .fa-envelope{
    background: #2d2d2f;
    color: #f1f1f1;
  }
  
  .fa-envelope:hover {
    background: #125688;
    color: white;
    transform: scale(1.1);
  }

  .fa-git{
    background: #2d2d2f;
    color: #f1f1f1;
  }
  
  .fa-git:hover {
    background: #e64f31;
    color: white;
    transform: scale(1.1);
  }

  .block {
    overflow: hidden;
    -webkit-transition: height .5s;
    transition: height .5s;
  }

  .dvContainer {
    position: relative;
  }
  
  .dvInsideTL {
    position: absolute;
    top: 3000px;
    width: 100%;
    background-color: #fff;
  }

  .loadmore{
    position: absolute;  
    width: 100%; 
    text-align: center; 
    color: black;
    background-image: linear-gradient(#2d2d2f00, #2d2d2f);
  }

  .arrowDown{
    cursor: pointer;
  }

  .arrowDown:hover{
    transform: translate(0px,15px);
    animation-name: DownArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes DownArrow {
    0% {
      transform: translate(0px,0px);
    }
    100% {
      transform: skewY(0px,15px);
    }
  }

  .arrowUp{
    cursor: pointer;
  }

  .arrowUp:hover{
    transform: translate(0px,-15px);
    animation-name: UpArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes UpArrow {
    0% {
      transform: translate(0px,0px);
    }
    100% {
      transform: skewY(0px,-15px);
    }
  }
